<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>

   <!-- This is an example for providing an own category 
      <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Category containing my nodes"
            icon="icons/default.png"
            level-id="myNodes"
            name="My nodes"
            path="/"/>
   </extension>
   -->
   
   <extension point="org.knime.workbench.repository.nodes">
<node category-path="/" factory-class="org.openphacts.OPS_search_freetextNodeFactory" id="org.openphacts.OPS_search_freetextNodeFactory"/>
<node category-path="/" factory-class="org.openphacts.OPS_compoundNodeFactory" id="org.openphacts.OPS_compoundNodeFactory"/>
<node category-path="/" factory-class="org.openphacts.OPS_pathwayNodeFactory" id="org.openphacts.OPS_pathwayNodeFactory"/>
<node category-path="/" factory-class="org.openphacts.OPS_targetNodeFactory" id="org.openphacts.OPS_targetNodeFactory"/>
<node category-path="/" factory-class="org.openphacts.OPS_compound_pharmacology_pagesNodeFactory" id="org.openphacts.OPS_compound_pharmacology_pagesNodeFactory"/>
<node category-path="/" factory-class="org.openphacts.OPS_target_pharmacology_pagesNodeFactory" id="org.openphacts.OPS_target_pharmacology_pagesNodeFactory"/>
<node category-path="/" factory-class="org.openphacts.OPS_InchiKeyToChemSpiderURLNodeFactory" id="org.openphacts.OPS_InchiKeyToChemSpiderURLNodeFactory"/>
<node category-path="/" factory-class="org.openphacts.OPS_InchiStringToChemSpiderURLNodeFactory" id="org.openphacts.OPS_InchiStringToChemSpiderURLNodeFactory"/>
<node category-path="/" factory-class="org.openphacts.OPS_SMILESToChemSpiderURLNodeFactory" id="org.openphacts.OPS_SMILESToChemSpiderURLNodeFactory"/>
</extension>
   
</plugin>
